.indicator-element-container {
    border: 1px solid;
    border-radius: 4px;
    color: white;
    overflow: hidden;
    width: 100%;
}

.indicator-element-container .indicator-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.indicator-element-container .indicator-content .material-icons {
    font-size: 60px;
    user-select: none;

}

.indicator-element-container .indicator-content .data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.indicator-element-container .indicator-content .data .indicator-number {
    font-family: var(--font-primary);
}

.indicator-element-container .indicator-content .data .indicator-subtitle {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.indicator-details .material-icons-outlined {
    font-size: 12px;
    color: white;
    border-radius: 50%;
    padding: 0.2rem;
}

.indicator-details {
    background-color: white;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.indicator-details .text {
    user-select: none;
}